#footer {
    padding-bottom: 15px;
    padding-top: 15px;
    color: $blue;
    text-decoration: none;
}


.mentions-footer {
    list-style-type: none;
}

.style-list-footer {
    font-family: "Montserrat";
    font-weight: bold;
    color: $blue;
    padding-left: 55px;
    text-decoration: none;
}

.style-list-footer:hover {
    color: $orange;
}

.icon-reseaux {
    color: $blue;
}

.icon-reseaux:hover {
    color: $orange;
}

.logo-reseaux {
    list-style-type: none;
    display: flex; 
    flex-direction: row;
    justify-content: end;
    padding-right: 45px;
    padding-top: 50px;
    font-size: 20px;

    .fa-brands {
        padding-right: 20px;
    }
}

.newsletter {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 17px;
    font-family: "Montserrat";
    font-weight: bold;
    color: $blue;

    p {
        padding-right: 10px;
        margin-bottom: 0;
    }
}

.ipt-newsletter {
    border-radius: 15px;
    border: 2px solid $blue;
}

.ipt-newsletter:hover {
    border: 2px solid $orange;
}

.icon-newsletter {
    margin-left: 20px;
    color: $blue;
}

.icon-newsletter:hover {
    color: $orange;
}


// @media(min-width:768px) {

//     .mentions-footer {
//         flex-direction: row;
//         justify-content: center;
//     }
// }
