#header {
    position: relative;
    background-color: $beige;
}

nav {
    background-color: $beige;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
    .liste-navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        flex: 1;
    }

    .search-bar {
        padding-left: 300px;
        padding-right: 150px;
    }

    .link {
        padding-right: 20px;
        color: $blue;
        text-decoration: none; 
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        font-family: "Montserrat";
    }
    
    
    .style-input {
        border-radius: 15px;
        border: 2px solid $orange;
    }

    .btn-search {
        color: $orange;
        font-size: 20px;
        padding-left: 10px;
    }

    .li-inscription {
        padding-left: 50px;
    }

    .btn-inscription {
        color: $orange;
        font-weight: bold;
        padding: 7px 15px;
        text-decoration: none;
        border-radius: 5px;
        border: 1px solid $orange;
    }
    
    .btn-inscription:hover  {
        // background-color: $orange;
        transition: all  0.3s ease-in;
        color: $blue; 
        border: 1px solid $blue;
    }

    .signup-user {
        margin-right: 50px;

        i {
            color: $orange;
            font-size: 25px;
        }

        i:hover {
            color: $blue;
            transition: all  0.3s ease-in;
        }
    }
    .burgerArea{
        display:none;
    }
    
}

@media screen and (max-width: 768px) {

    #header {
        img {
            width: 250px;
        }
    }

    nav{
        position: relative;
        
    .liste-navbar{
        display: none!important;
        &.display{
            display: flex!important;
            flex-direction: column;
            position: absolute;
            height:calc(100vh - 60px);
            background-color: $beige;
            top:60px;
            left:0;
            width:100%;
        }
    }

    .burgerArea{
        display: block;
    }
    .burger {
        cursor: pointer;
        color: $blue;
        background-color: $beige;
    }  
    
}
}